.name {
    color: white;
    text-shadow: 1px 1px #333333;
}

.plus:hover {
    cursor: pointer;
    opacity: 0.7;
}

.warn {
    background-color: rgb(231, 220, 154);
}
.status {
    display: flex;
    justify-content: space-between;
}

.bakerloo {
    background-color: rgb(178, 99, 0);
}

.central {
    background-color: rgb(220,36,31);
}

.circle {
    background-color: rgb(255,211,41);
}

.district {
    background-color: rgb(0,125,50);
}

.hammersmith-city {
    background-color: rgb(244,169,190);
}

.jubilee {
    background-color: rgb(161,165,167);
}

.metropolitan {
    background-color: rgb(155,0,88);
}

.northern {
    background-color: rgb(0, 0, 0);
}

.piccadilly {
    background-color: rgb(0, 25, 168);
}

.victoria {
    background-color: rgb(0, 152, 216);
}

.waterloo-city {
    background-color: rgb(147,206,186);
}